<h1>ログイン</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>
  <div class="">
    <%= f.label :Eメールアドレス %>
    <br>
    <%= f.email_field :email %>
  </div>
  <div class="">
    <%= f.label :パスワード %>
    <br>
    <%= f.password_field :password %>
  </div><br>
  <p><%= f.submit "ログイン", id: "create_tag" %></p>
  <br>

<div class="">
  <button type="button" class="btn btn-info"><%= link_to "新規登録", new_user_path %></button>
</div><br>
<% end %>