<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="task form-group">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="task form-group">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="task form-group">
    <%= form.label :Priotity %>
    <%= form.select :priority, options_for_select([[''],['高'], ['中'], ['低']]), id: "priority", class: "form-control"  %>
  </div>

  <div class="task form-group">
    <%= form.label :Status %>
    <%= form.select :status, options_for_select([[''],['未着手'], ['着手中'], ['完了']]), id: "status", class: "form-control"  %>
  </div>

  <div class="task form-group">
    <%= form.label :Deadline %>
    <%= form.date_select :deadline, id: "終了期限", class: "form-control"%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
