<p id="notice"><%= notice %></p>
<h1>タスク一覧</h1>
<nav class="navbar navbar-light bg-light">
<%= form_with url: tasks_path, method: :get, html: {class: "form-inline"} , local: true do |form| %>
  <%= form.label :title, "タイトル" %>
  <%= form.text_field :title, class: "form-control mr-sm-2" %>
  <%= form.label :status, "ステータス" %>
  <%= form.select :status, options_for_select([[''],['未着手'], ['着手中'], ['完了']]), class: "form-control mr-sm-2"%>
  <%= form.submit value: "search", class: "btn btn-outline-success my-2 my-sm-0", type: "submit" %>
<% end %>
</nav>
<p><%= link_to "終了期限ごとに並び替える", tasks_path(sort_expired: "true") , value: "dater", class: "badge badge-primary"%> ||
  <%= link_to "優先順位ごとに並び替え", tasks_path(sort_priority: "true"), class: "badge badge-success" %>
</p>
<table>
  <thead>
    <tr>
      <th scope="col">タイトル</th>
      <th scope="col">内容</th>
      <th scope="col">優先度</th>
      <th scope="col">ステータス</th>
      <th scope="col">終了期限</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class = 'task_row' ><%= task.title %></td>
        <td><%= task.content %></td>
        <td class="priority_row"><%= task.priority %></td>
        <td><%= task.status %></td>
        <td class="deadline_row"><%= task.deadline %></td>
        <td><%= link_to '詳細', task %></td>
        <td><%= link_to '編集', edit_task_path(task) %></td>
        <td><%= link_to '削除', task, method: :delete, data: { confirm: '削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規登録', new_task_path %>
