<p id="notice"><%= notice %></p>

<p>
  <strong>タイトル:</strong>
  <%= @task.title %>
</p>
<p>
  <strong>内容:</strong>
  <%= @task.content %>
</p>
<p>
  <strong>優先順位:</strong>
  <%= @task.priority_i18n %>
</p>
<p>
  <strong>ステータス:</strong>
  <%= @task.status_i18n %>
</p>
<p>
  <strong>終了期限:</strong>
  <%= @task.deadline %>
</p>
