<table class="col-md-12">
  <thead>
    <tr>
      <th class="col-md-2">タスク</th>
      <th class="col-md-3" >詳細</th>
      <th class="col-md-2">期限</th>
      <th class="col-md-1">ステータス</th>
      <th class="col-md-1">優先度</th>
      <th class="col-md-1">閲覧</th>
      <th class="col-md-1">編集</th>
      <th class="col-md-1">削除</th>
    </tr>
  </thead>
  <tbody>
    <% @user.tasks.each do |task| %>
      <tr>
        <td id = 'task_list' ><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.deadline %></td>
        <td><%= task.status_i18n %></td>
        <td><%= task.priority_i18n %></td>
        <td><button type="button" class="btn btn-warning btn-sm"><%= link_to '詳細', task %></button></td>
        <td><button type="button" class="btn btn-warning btn-sm"><%= link_to '編集', edit_task_path(task) %></button></td>
        <td><button type="button" class="btn btn-danger btn-sm"><%= link_to '削除', task, method: :delete, data: { confirm: '削除していいですか?' } %></button></td>
       </tr>
    <% end %>
  </tbody>
</table>
